
body{
    background-image: url(https://i2.bahamut.com.tw/html_bg.gif);
    /* min-height: 300vh; */
  }

.progress{
  
	height: 5px;
  width: 20vw;
  border-radius: 30px;
  background-color: #bbbbbb;
	z-index: 1;
 
  transform: rotate(90deg) translate(28vh,5vw);
  top :100px;
  
}
.bg-my1{
    background-color: #012763;
  }
  .bg-my2{  
    background-color: #d0d0d1;
  }
  .hz-50{
    height: 50px;
  }
  .fz-28{
    font-size: 28px;
  }
  .fz-14{
    font-size: 14px;
  }
  .wz-60{
    width: 60px;
  }
  .wz-200{
    width: 200px;
  }
  .whz-100{
    height: 100px;
    width: 100px;
  }
  .z1{
    z-index: 1;
  }
  .z2{
    z-index: 2;
  }
  .min-hz-1200{
    min-height: 1200px;
  }
  .topz-100{
    top:100px;
  }
  .hz-200{
    height: 200px;
  }
    /* 維持方形 */
  .hz-fix{
    height:0px;
    padding-bottom: 100%;
  }
  .hz-100{
    height: 100px;
  }
  .wz-4000{
    width: 4000px;
  }
  .icon-flickr_logo_dots {
    height: 50px;
    width: 110px;
  }
  .icon{
    font-size: 25px;
  
  }
  .icon-animate:hover{
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
  }
  .data-container span{
    font-size: 16px;
  }
  .px-10{
    padding-left: 5%;
    padding-right: 5%;
  }
  .hover-more{
    color: #fff;
    height: 0;
    overflow: hidden;
    transition: height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin: 0;
    padding-left: 5%;
    padding-bottom:0%;
    display: flex;
    justify-content: end;
  }
 

 
  .text-box{
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    background-color: rgba(0,0,0,0.5);
    
      /* opacity: 50%; */
  }
  .info-container{
    border-radius: 30px;
    background-color: rgba(224, 249, 255, 0.847);
  }

  .herder-title{
    color: #012763;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
  }
  .herder-subtitle{
    color: #012763;
    font-size: 35px;
    font-weight: bold;
  }

  .navbarICON{
    padding: 1%;
    background-color: rgb(224, 249, 255);
    border-radius: 20px;
  }
  .navbarICON h1{    
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  .messagePart h1{    
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
  }
  .nav-item-1 .dropdown-menu{
    position: relative;
    
  }
  .userhead{
    height: 50px;
    width: 50px;
  }
  .msg_info{
    width: auto;
  }
  .msg-name{
    font-family: 'Noto Serif TC', serif;
    font-size: 28px;
    /* font-weight: bold; */
  }
  .msg-idt{
    font-size: 20px;
    
  }
  .msg-school{
    font-size: 20px;
    margin-left: 1%;
  
  }
  .msg-time{
    font-size: 14px;
    color: #959494;

  }
  section{
    min-height: 800px;
  }
.all_article_container{
    margin-top: 2%;
    min-height: 500px;
    padding: 2%;
  
  }
  .cover{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: none;
    place-items: center;
  }
.message_box{
  padding-top: 2%;
  padding-left: 2%;
  background-color: rgb(224, 249, 255);
  margin-bottom: 3%;
}
.msgswitch{
  padding: 0%;
  width: 70px;
  height: 40px;
  margin-right: 7%;
  background-color: #012763; /* Green */
  border: none;
  bottom: 0;
  /* bottom:0;
  right: 100; */
}
.msg_container{
  bottom: -480px;
  right: 50;
  z-index: 2;
}
.msgswitchicon{
  width: 0;
  height: 0;
  margin: auto;
  border: 10px solid;
  border-color: transparent transparent #FFF transparent ;
  transition: all,1s;

}
  .messagePart{
    width: 100%;
    border-radius: 20px 20px 0 0;
    /* position:absolute; */
    /* bottom: 0; */
    bottom: -700;
    right:0;
    /* display:none; */
  }


  /* .progress_box{
    width: 100%;
    top: 0;
  } */
  /* .progress{
    width: 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

  } */
  .nav-item-1 .dropdown-menu::before{
    position: absolute;
    top: -10px;
    left: 10px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #fff  transparent;
  }
  .btn-send{
    /* font-size: 28; */
  }
  .label-box{
    width: 100px;
  }
  .footer-nav-item-1 .dropdown-menu{
    position: relative;
    bottom: 100%;
  }
  .footer-nav-item-1 .dropdown-menu::before{
    position: absolute;
    bottom: -10px;
    left: 30px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    border-color: #fff transparent transparent transparent;
  }
  .nav-item-1:hover .dropdown-menu{
    display: block;
    position: absolute;
  }
  .footer-nav-item-1:hover .dropdown-menu{
    display: block;
    position: absolute;
  }
  header{
    height: 300px;
    min-height: 250px;
    background-image: url(../imgs/banner.png);
   /* 設定背景圖片/居中/不重覆 */
   /* background: url("https://photo.minwt.com/cc0/09.jpg")center center no-repeat; */
     background-attachment: fixed;
     background-size:auto;
  }
 

  .w-auto{
    width: auto;
  }
  aside .nav .nav-item .active{
    border-bottom: 3px solid #0090DC;
  }
  .footer2{
    border-top: 2px solid rgba(255,255,255,.5);
  }
  .img{
    background-color: #0090DC;
    background-size: cover;
    background-position: center;
  
  }

  .txtColor{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    padding:0;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-style: solid;
    
    overflow: hidden;
}
  aside{
    background-color: rgb(224, 249, 255);
  }
  .formbg{
    background-color: rgb(224, 249, 255);
  }
  
   @media (max-width: 992px) {
    .px-10 {
        padding-left: 0;
        padding-right: 0;
    }
  }
   
  